/* reset */

html, body, div,
h1, h2, h3, h4, h5, h6, p,
a, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {text-decoration: none;}
ul, li {list-style: none;}
:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}
html {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}

/* font */

@font-face {
    font-family: "DINOT-Regular";
    src: url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.eot");
    src: url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.svg#DINOT-Regular") format("svg");
}
* {font-family: "DINOT-Regular";}


h1, h2, h3, h4, h5, h6, p, a {
    color: #02212c;
}
h1 {font-size: 90px;}
h2 {font-size: 40px;}
h3 {font-size: 29.6px;}
h4 {font-size: 26px;}
h5 {font-size: 16px;}
p {font-size: 20px}

.testo-bianco {
    color: #fff;
}
.maiuscolo {
    text-transform: uppercase;
}
.grassetto {
    font-weight: 900;
}
.centrato {
    text-align: center;
}
#nav-bar ul li {
    font-size: 15px;
}

/* struttura */

.contenitore, nav {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}
.contenitore-small {
    max-width: 768px;
    width: 768px;
    margin: 0 auto;
}

.contenitore-full, section {
    width: 100%;
}
.flex, section {display: flex; align-items: center;}
.column {flex-direction: column; justify-content: center;}
.center {justify-content: center;}
.between {justify-content: space-between;}
.around {justify-content: space-around;}
.start {justify-content: flex-start;}
.end {justify-content: flex-end;}
.top {align-items: flex-start;}
.bottom {align-items: flex-end;}
.wrap {flex-wrap: wrap;}

.colonna-4 {
    width: 25%;
}
.colonna-3 {
    width: 33.33333333%;
    height: 244px;
}
.card {
    max-width: 80%;
    height: 60%;
}
/* pulsanti */

.but-st1 {
    background-color: #fff;
    color: #d54400;
    border-radius: 12.5px;
    font-size: 14px;
    padding: 5px 22px;
}
.but-st2 {
    background-color: #02212c;
    color: #fff;
}
.but-st3 {
    background-color: #d54400;
    color: #fff;
    border-radius: 4px;
    padding: 13px 55px;
}
.but-st4 {
    background-color: #0080a9;
}
hr {
    width: 20px;
    margin: .3rem 0 .5rem;
}

/* spec */

/* id */
#top-bar {
    background-color: #d54400;
    color: #fff;
    height: 40px;
}
#payout {
    font-size: 15px
}
#but-1 {
    margin-left: 1rem;

}

#logo-bar {
    height: 100px;
}
#logo {
    font-size: 90px;
    font-weight: 900;
    text-indent: -100000px;
    position: absolute;
}
#logo span {
    font-weight: 400;
}
#rs a {
    margin-left: 1rem;
}
#rs a span {
    margin-left: .3rem;
}

#nav-bar {
    background-color: #02212c;
    height: 45px;
}

#nav-bar img {
    filter: brightness(0) invert(1);
    margin-left: .3rem;
}
#nav-bar ul li {
    margin-right: 2rem;
}
#nav-bar ul li:last-of-type {
    margin-left: 25px;
}

#ico-alt {
    position: absolute;
    transform: translateX(-30px);
}
#banner {
    height: 450px;
    background-image: url('../img/group-23.jpg');
    background-size: cover;
}
#contenitore-banner {
    //height: 380px;
    //width: 70%;
    //transform: translateX(-100px);
}

#but-3 {
    margin-top: 3rem;
}

#welcome {
    height: 152px;
    background-color: #02212c;
}

#lente {
    width: 20px;
    height: 20px;
    transform: rotateY(180deg);
}
#tit-prod {
    margin-top: 38px;
    margin-bottom: 33px;
}
#prod .colonna-4 {
    height: 260px;
    margin-bottom: 3rem;
}
#tit-benefits {
    margin-bottom: 3rem;
}
#but-4 {
    margin-bottom: 3rem;
}
.colonna-3:nth-of-type(1) {
    background-color: #d54400
}
.colonna-3:nth-of-type(2) {
    background-color: #0080a9
}
.colonna-3:nth-of-type(3) {
    background-color: #02212c
}
#banner-2 {
    background-image: url('../img/group-39.jpg');
    background-size: cover;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-position: left center;
}

#contenitore-banner-2 {
height: 330px;
width: 50%;
background-color: #ddd;
transform: translateX(50px);
border-radius: 4px;
box-shadow: 1px 1px 30px #02212c;
-webkit-box-shadow: 1px 1px 30px #02212c;
-moz-box-shadow: 1px 1px 30px #02212c;
}
#useben {
height: 251px;
background-color: #0080a9;
}
#useben-contenitore {
height: 80%;
}
#lm {
filter: brightness(0) invert(1);
transform: rotate(-90deg) translateX(-3px);
}

#news {
height: 137px;
}
#contenitore-inp {
margin-left: .3rem;
width: 50%;
}
#inp {
width: 250px;
height: 27px;
}
#but-6 {
margin-left: 3px;
padding: 0;
height: 35px;
width: 110px;
}
footer {
background-color: #0080a9;
}
#footer {
padding-top: 3rem;
padding-bottom: 3rem;
}
footer .colonna-4:not(:nth-of-type(2)) .single-footer:not(:first-of-type) {
margin-top: 1rem;
}
footer .colonna-4:nth-of-type(1) {
width: 20%;
}
footer .colonna-4:nth-of-type(2) {
width: 30%;
}
footer .colonna-4:nth-of-type(2) .single-footer {
line-height: 25px;
}
#un-logo img {
margin-top: 3rem;
max-width: 200px;
height: auto;
}
#bottom-bar {
border-top: 1px solid #fff;
padding-top: .3rem;
padding-bottom: .3rem;
}
.social-media-bar {
transform: translateY(3px);
}
.social-media-bar img {
width: 20px;
height: 20px;
margin-left: .3rem;
}

#phone {
margin-right: .3rem;
transform: translateY(3px);
}

.mobile, #nav-bar-mobile, .single-footer:not(#un-logo) img:not(#phone) {
display: none;
}

/* Device responsive */

@media (min-width: 320px) and (max-width: 480px) {
    body {
        max-width: 100%;
    }
    .mobile {
        display: block;
    }
    .pc {
        display: none;
    }
    section {
        height: auto !important;
        flex-direction: column;
    }
    .contenitore, .contenitore-small {
        max-width: 100%;
        padding: 1rem 15px;
        box-sizing: border-box;
    }
    .flex {
        flex-wrap: wrap;
    }
    .colonna-3, .colonna-4 {
        width: 100% !important;
    }
    .top, .bottom {
        align-items: center;
    }
    p {
        font-size: 14px;
    }
    /* spec */
    #top-bar, #logo-bar, #nav-bar {
        display: none;
    }
    #nav-bar-mobile {
        display: flex;
        background-color: #02212c;
    }
    #nav-mobile li {
        margin-bottom: 1rem;
    }
    #nav-mobile {
        display: none;
    }
    #nav-mobile.open {
        display: block;
    }

    #logo-mobile {
        height: 27px;
    }
    #nav-bar-mobile li {
        margin-left: 1rem;
    }
    #nav-bar-mobile li img {
        width: 27px;
        height: 27px;
    }
    #banner {
        background: #fff;
    }
    #contenitore-banner {
        height: auto;
        width: 100%;
        transform: none;

    }
    img.mobile {
        width: 100%;
    }
    #banner-2 {
        background: #fff;
    }
    #contenitore-banner-2 {
        background: transparent;
        transform: none;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    #useben-contenitore > * {
        margin: 1rem auto;
    }
    #contenitore-inp {
        width: 100%;
        margin-top: 1rem;
    }
    #inp {
        width: 60%;
    }
    #but-6 {
        margin-left: 1rem;
        width: 30%;
    }
    .single-footer ul, .single-footer hr {
        display: none;
    }
    .single-footer h5 {
        text-align: left;
    }
    #footer .flex {
        display: block;
    }
    .single-footer {
        padding: 1rem 15px !important;
        border-bottom: 1px solid #fff;
    }
    #footer, #footer > .contenitore {
        padding: 0;
    }
    #tel, #tel .single-footer:not(:first-of-type) h5 {
        text-align: center;
    }
    #tel .single-footer:not(:first-of-type) h5 {
        font-size: 2rem;
    }
    .single-footer:not(#un-logo) img:not(#phone) {
        display: block;
        filter: invert(1);
        float: right;
    }
    #card {
        text-align: center;
    }
    #card svg {
        width: 45px;
        height: 30px;
    }
    #card h5 {
        display: none;
    }
    #un-logo img {
        margin-top: 0;
    }
    #bottom-bar-mobile {
        margin-top: 5rem;
        padding-bottom: 1rem;
    }
    h3 {
        font-size: 15.6px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body {
        max-width: 100%;
    }
    .mobile {
        display: block;
    }
    .pc {
        display: none;
    }
    section {
        height: auto !important;
        flex-direction: column;
    }
    .contenitore, .contenitore-small {
        max-width: 100%;
        padding: 1rem 15px;
        box-sizing: border-box;
    }
    .flex {
        flex-wrap: wrap;
    }
    .colonna-3, .colonna-4 {
        width: 100% !important;
    }
    .top, .bottom {
        align-items: center;
    }
    p {
        font-size: 14px;
    }
    /* spec */
    #top-bar, #logo-bar, #nav-bar {
        display: none;
    }
    #nav-bar-mobile {
        display: flex;
        background-color: #02212c;
    }
    #nav-mobile li {
        margin-bottom: 1rem;
    }
    #nav-mobile {
        display: none;
    }
    #nav-mobile.open {
        display: block;
    }

    #logo-mobile {
        height: 27px;
    }
    #nav-bar-mobile li {
        margin-left: 1rem;
    }
    #nav-bar-mobile li img {
        width: 27px;
        height: 27px;
    }
    #banner {
        background: #fff;
    }
    #contenitore-banner {
        height: auto;
        width: 100%;
        transform: none;

    }
    img.mobile {
        width: 100%;
    }
    #banner-2 {
        background: #fff;
    }
    #contenitore-banner-2 {
        background: transparent;
        transform: none;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    #useben-contenitore > * {
        margin: 1rem auto;
    }
    #contenitore-inp {
        width: 100%;
        margin-top: 1rem;
    }
    #inp {
        width: 60%;
    }
    #but-6 {
        margin-left: 1rem;
        width: 30%;
    }
    .single-footer ul, .single-footer hr {
        display: none;
    }
    .single-footer h5 {
        text-align: left;
    }
    #footer .flex {
        display: block;
    }
    .single-footer {
        padding: 1rem 15px !important;
        border-bottom: 1px solid #fff;
    }
    #footer, #footer > .contenitore {
        padding: 0;
    }
    #tel, #tel .single-footer:not(:first-of-type) h5 {
        text-align: center;
    }
    #tel .single-footer:not(:first-of-type) h5 {
        font-size: 2rem;
    }
    .single-footer:not(#un-logo) img:not(#phone) {
        display: block;
        filter: invert(1);
        float: right;
    }
    #card {
        text-align: center;
    }
    #card svg {
        width: 45px;
        height: 30px;
    }
    #card h5 {
        display: none;
    }
    #un-logo img {
        margin-top: 0;
    }
    #bottom-bar-mobile {
        margin-top: 5rem;
        padding-bottom: 1rem;
    }
    h3 {
        font-size: 18.2px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        max-width: 100%;
    }
    .mobile {
        display: block;
    }
    .pc {
        display: none;
    }
    section {
        height: auto !important;
        flex-direction: column;
    }
    .contenitore, .contenitore-small {
        max-width: 100%;
        padding: 1rem 15px;
        box-sizing: border-box;
    }
    .flex {
        flex-wrap: wrap;
    }
    .colonna-3, .colonna-4 {
        width: 100% !important;
    }
    .top, .bottom {
        align-items: center;
    }
    p {
        font-size: 14px;
    }
    /* spec */
    #top-bar, #logo-bar, #nav-bar {
        display: none;
    }
    #nav-bar-mobile {
        display: flex;
        background-color: #02212c;
    }
    #nav-mobile li {
        margin-bottom: 1rem;
    }
    #nav-mobile {
        display: none;
    }
    #nav-mobile.open {
        display: block;
    }

    #logo-mobile {
        height: 27px;
    }
    #nav-bar-mobile li {
        margin-left: 1rem;
    }
    #nav-bar-mobile li img {
        width: 27px;
        height: 27px;
    }
    #banner {
        background: #fff;
    }
    #contenitore-banner {
        height: auto;
        width: 100%;
        transform: none;

    }
    img.mobile {
        width: 100%;
    }
    #banner-2 {
        background: #fff;
    }
    #contenitore-banner-2 {
        background: transparent;
        transform: none;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    #useben-contenitore > * {
        margin: 1rem auto;
    }
    #contenitore-inp {
        width: 100%;
        margin-top: 1rem;
    }
    #inp {
        width: 60%;
    }
    #but-6 {
        margin-left: 1rem;
        width: 30%;
    }
    .single-footer ul, .single-footer hr {
        display: none;
    }
    .single-footer h5 {
        text-align: left;
    }
    #footer .flex {
        display: block;
    }
    .single-footer {
        padding: 1rem 15px !important;
        border-bottom: 1px solid #fff;
    }
    #footer, #footer > .contenitore {
        padding: 0;
    }
    #tel, #tel .single-footer:not(:first-of-type) h5 {
        text-align: center;
    }
    #tel .single-footer:not(:first-of-type) h5 {
        font-size: 2rem;
    }
    .single-footer:not(#un-logo) img:not(#phone) {
        display: block;
        filter: invert(1);
        float: right;
    }
    #card {
        text-align: center;
    }
    #card svg {
        width: 45px;
        height: 30px;
    }
    #card h5 {
        display: none;
    }
    #un-logo img {
        margin-top: 0;
    }
    #bottom-bar-mobile {
        margin-top: 5rem;
        padding-bottom: 1rem;
    }
    h3 {
        font-size: 17.6px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        max-width: 100%;
    }
    .mobile {
        display: block;
    }
    .pc {
        display: none;
    }
    section {
        height: auto !important;
        flex-direction: column;
    }
    .contenitore, .contenitore-small {
        max-width: 100%;
        padding: 1rem 15px;
        box-sizing: border-box;
    }
    .flex {
        flex-wrap: wrap;
    }
    .colonna-3, .colonna-4 {
        width: 100% !important;
    }
    .top, .bottom {
        align-items: center;
    }
    p {
        font-size: 14px;
    }
    /* spec */
    #top-bar, #logo-bar, #nav-bar {
        display: none;
    }
    #nav-bar-mobile {
        display: flex;
        background-color: #02212c;
    }
    #nav-mobile li {
        margin-bottom: 1rem;
    }
    #nav-mobile {
        display: none;
    }
    #nav-mobile.open {
        display: block;
    }

    #logo-mobile {
        height: 27px;
    }
    #nav-bar-mobile li {
        margin-left: 1rem;
    }
    #nav-bar-mobile li img {
        width: 27px;
        height: 27px;
    }
    #banner {
        background: #fff;
    }
    #contenitore-banner {
        height: auto;
        width: 100%;
        transform: none;

    }
    img.mobile {
        width: 100%;
    }
    #banner-2 {
        background: #fff;
    }
    #contenitore-banner-2 {
        background: transparent;
        transform: none;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    #useben-contenitore > * {
        margin: 1rem auto;
    }
    #contenitore-inp {
        width: 100%;
        margin-top: 1rem;
    }
    #inp {
        width: 60%;
    }
    #but-6 {
        margin-left: 1rem;
        width: 30%;
    }
    .single-footer ul, .single-footer hr {
        display: none;
    }
    .single-footer h5 {
        text-align: left;
    }
    #footer .flex {
        display: block;
    }
    .single-footer {
        padding: 1rem 15px !important;
        border-bottom: 1px solid #fff;
    }
    #footer, #footer > .contenitore {
        padding: 0;
    }
    #tel, #tel .single-footer:not(:first-of-type) h5 {
        text-align: center;
    }
    #tel .single-footer:not(:first-of-type) h5 {
        font-size: 2rem;
    }
    .single-footer:not(#un-logo) img:not(#phone) {
        display: block;
        filter: invert(1);
        float: right;
    }
    #card {
        text-align: center;
    }
    #card svg {
        width: 45px;
        height: 30px;
    }
    #card h5 {
        display: none;
    }
    #un-logo img {
        margin-top: 0;
    }
    #bottom-bar-mobile {
        margin-top: 5rem;
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    #contenitore-banner-2 {
        display: none;
    }
}
